* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0f172a;
  position: sticky;
  top: 0;
}

nav h2 {
  color: orange;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: orange;
}

/* HERO */
.hero {
  padding: 80px 50px;
  text-align: left;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 8px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background: orange;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
}

.btn.outline {
  background: transparent;
  border: 2px solid orange;
  color: orange;
}

.btn:hover {
  opacity: 0.8;
}

/* CARD SECTIONS */
.card-section {
  padding: 60px 50px;
}

.card-section h2 {
  margin-bottom: 20px;
  color: orange;
}

/* SKILLS GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  margin-top: 40px;
}
