body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F5EFE6;
  color: #2E2E2E;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hello-text {
  font-size: 90px;
  font-weight: 800;
  color: #C8B6FF;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 30px auto;
  color: #555;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.primary-btn {
  background-color: #C8B6FF;
  color: white;
  box-shadow: 0 4px 12px rgba(200, 182, 255, 0.4);
}

.primary-btn:hover {
  background-color: #9F8AE0;
  transform: translateY(-3px);
}

.secondary-btn {
  border: 2px solid #C8B6FF;
  color: #9F8AE0;
}

.secondary-btn:hover {
  background-color: #C8B6FF;
  color: white;
  transform: translateY(-3px);
}
