* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  background: #0b1120;
  position: sticky;
  top: 0;
}

nav h2 {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero h3 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.btn.small {
  margin-top: 15px;
  display: inline-block;
  font-size: 14px;
}

/* SECTIONS */
.section {
  padding: 80px 8%;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #38bdf8;
}

/* CARDS */
.skills-grid,
.projects-grid,
.profiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

.card h4 {
  margin-bottom: 10px;
  color: #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0b1120;
}
